<h1>Admin &gt; Post &gt; edit</h1>
<ul>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/admin/post">List</a></li>
</ul>
<br><br>
<%= form_for :post, url: '/admin/post/' + @post.id.to_s, method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>
<p>
  <%= link_to 'Delete', {:controller=>:admin_post,:action=>:destroy, :id=>@post.id.to_s}, :method=>:delete, data: { confirm: 'Are you sure?' } %>
</p>
