<h1>Posts#Edit</h1>

<%= form_for :post, url: '/posts/' + @post.id.to_s, method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>
<p>
  <%= link_to 'Delete', {:controller=>:posts,:action=>:destroy, :id=>@post.id.to_s}, :method=>:delete, data: { confirm: 'Are you sure?' } %>
</p>
